/*   color variables */
/*   border radius */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.general-btn {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}


.btn1 {
  background-color: #0e48fe;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #eef1f6;
  padding: 0.5rem;
}
.btn1 svg {
  width: 1rem;
  fill: #eef1f6;
}

.btn2 {
  background-color: transparent;
  font-weight: bold;
  color: #0e48fe;
}

.notification {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  background-color: white;
  border-radius: 0.2rem;
  overflow: hidden;
  display: none;
	
  justify-content: center;
  align-items: center;
	
  gap: 1rem;
}
.notification__warning {
  width: 1.5rem;
  margin-left: 1rem;
  fill: #e00000;
}
.notification__close {
  background-color: #ffc2c2;
  padding: 1rem;
  display: flex;
  cursor: pointer;
}
.notification__close svg {
  width: 1rem;
  fill: #e00000;

	
}
.notification-show {
  animation: warning 400ms ease-in-out forwards;
  display: flex;
}

@keyframes warning {
  0% {
    opacity: 0;
    top: 2rem;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 4rem;
  }
}

@keyframes dismiss {
   100% {
    opacity: 0;
    top: 2rem;
  }

  5% {
    opacity: 0;
  }
	
  0% {
    opacity: 1;
    top: 2rem;
  }


}





